.heroItemTitle{
    margin-bottom: 0;
    padding: 1rem;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

.heroBottomRadius{
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.hero-cta {
    display: inherit;
    justify-content: center;
}

.subtitle.is-5 {
    text-transform: none;
}