.keyfeatures {
    padding: 20px;
}

.keyfeatures a:hover {
    text-decoration: none;
    color:black
}

.keyfeatures-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 50%;
    background-color: var(--colorPrimaryDark);
}

.keyfeatures-title {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    font-size: 27px;
    font-weight: bold;
}

.keyfeatures-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyfeatures-box-content {
    height: 320px;
    width: 350px;
    margin: 30px auto;
    padding: 10px 5px;
}

.keyfeatures-box-content:hover {
    box-shadow: 0 8px 16px 0 rgba(12, 42, 96, 0.4);
  }

.keyfeatures a {
    color: rgb(1, 50, 67) !important;
}

.keyfeatures-box-title {
    margin: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.keyfeatures-box-text {
    margin: 30px 15px;
}

@media only screen and (max-width: 1300px) {
    .keyfeatures-box-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .keyfeatures-box-container {
        flex-direction: column;
        align-items: center;
    }
}

.keyfeatures-underline:before {
    background: rgb(1, 50, 67);
}