.keyfeatures {
    padding: 20px;
}

.keyfeatures a:hover {
    text-decoration: none;
    color:black
}

.keyfeatures-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 50%;
    background-color: var(--colorPrimaryDark);
}

.keyfeatures-title {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    font-size: 27px;
    font-weight: bold;
}

.keyfeatures-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyfeatures-box-content {
    height: 320px;
    min-width: 275px;
    width: 350px;
    margin: 30px auto;
    border-radius: 3px;
    padding: 10px 5px;
}

.keyfeatures-box-content:hover {
    box-shadow: 0 8px 16px 0 rgba(12, 42, 96, 0.4);
  }

.keyfeatures a {
    color: rgb(1, 50, 67) !important;
}

.keyfeatures-box-title {
    margin: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.keyfeatures-box-text {
    margin: 30px 15px;
    font-size: 14px;
}

@media only screen and (max-width: 1300px) {
    .keyfeatures-box-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .keyfeatures-box-container {
        flex-direction: column;
        align-items: center;
    }
}

.keyfeatures-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.keyfeatures-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rgb(1, 50, 67);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.keyfeatures-underline:hover:before, .keyfeatures-underline:focus:before, .keyfeatures-underline:active:before {
    right: 0;
}
