#backtotop a:after {
    content: "⇧";
}
.hero-title-content {
    max-width: 1200px;
    margin: 1vh auto;
}

.hero-logo {
    max-height: 200px;
}

.navbar.is-fresh .navbar-item.has-dropdown .navbar-link {
    color: var(--colorPrimaryDark);
}

.navbar.is-fresh .navbar-brand img {
    max-height: 50px !important;
    height: 50px;
}

@media only screen and (max-width: 850px) {
    .social-media-icons {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .hero-logo {
        max-height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .hero-logo {
        max-height: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-logo {
        max-height: 40px;
    }
}

/* Footer */
@media (max-width: 850px){
    .footer-column > ul.link-list {
        padding-left: unset;
    }

    .footer-column {
        padding-left: unset;
    }
}

.footer-logo-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}

.footer-column {
    padding-left: 30px;
}

.social-media-icons {
    display: flex;
}

@media (max-width: 400px) {
    ul {
      padding-left: 0px !important;
      padding-right: 30px;
    }
  }

/* Icon size slightly enlargened for footer */
#footer .social-media-icons {
  font-size: 1.5em;
}

#footer svg.icon {
  fill: #1e87f0;
}

/* For information ⓘ, when icon is missing */
#footer .icon {
  color: #1e87f0;
}

.img-fit {
    object-fit: contain;
}

.column {
    float: left;
    width: 30%;
    padding: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}