{{- $applyWorkflows       := .Site.Params.applyWorkflows }}
{{- $title      := index $applyWorkflows "title" }}
{{- $subtitle   := index $applyWorkflows "subtitle" }}
{{- $buttonText := index $applyWorkflows "buttontext" }}
{{- $buttonLink := index $applyWorkflows "buttonlink" }}
{{- $image      := index $applyWorkflows "image" }}

<div class="hero-body" style="padding: 2rem 2rem; background-color: #ECF2F9;">
  <center><h1 class="keyfeatures-title"> OpenMS allows users to: </h1></center>
  <hr>
  <div class="container is-max-widescreen">
    <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1 hide-mobile">
          <figure class="image is-4by3">
            <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
          </figure>
        </div>
        <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <div class="hero-cta">
            <a href="{{ $buttonLink }}"><button class="cta-button">{{ $buttonText }}</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
