{{- $highPerformanceAlgorithms       := .Site.Params.highPerformanceAlgorithms }}
{{- $title      := index $highPerformanceAlgorithms "title" }}
{{- $subtitle   := index $highPerformanceAlgorithms "subtitle" }}
{{- $buttonText := index $highPerformanceAlgorithms "buttontext" }}
{{- $buttonLink := index $highPerformanceAlgorithms "buttonlink" }}

<center><h1 class="keyfeatures-title" style="padding: 2rem; margin-bottom: 0;"> Advanced Users can leverage the full OpenMS potential to </h1></center>
<div class="hero-body" style="padding: 2rem 2rem; background: 	honeydew;">
  <div class="container is-max-widescreen">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <div class="hero-cta">
            <a href="{{ $buttonLink }}"><button class="cta-button">{{ $buttonText }}</button></a>
        </div>
      </div>
      <div class="column is-5 is-offset-1 hide-mobile">
        {{ partial "terminal.html" . }}
      </div>
    </div>
  </div>
</div>
