{{- $pyopenms       := .Site.Params.pyopenms }}
{{- $title      := index $pyopenms "title" }}
{{- $subtitle   := index $pyopenms "subtitle" }}
{{- $buttonText := index $pyopenms "buttontext" }}
{{- $buttonLink := index $pyopenms "buttonlink" }}
{{- $image      := index $pyopenms "image" }}

<div class="hero-body">
  <div class="container is-max-widescreen">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <div class="hero-cta">
            <a href="{{ $buttonLink }}"><button class="cta-button">{{ $buttonText }}</button></a>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <div class="logo-pyopenms"><b>p<span>yO</span>pe<span>n</span>MS</b></div>
        </figure>
      </div>
    </div>
  </div>
</div>
