<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<section class="facts">
    <h1 class="facts-title">Quick facts</h1>
  <div class="container is-max-widescreen">
    <div id="footer-columns" class="columns">
      <div class="link-column">
        <div class="footer-column">
          <ul class="link-list">
            <li class="facts-list">
              <p class="facts-para">Programming Language:</p>
              <a href="https://en.cppreference.com/w/cpp/17">
                <img src="https://img.shields.io/badge/C%2B%2B-17-blue.svg?style=for-the-badge&logo=c%2B%2B">
              </a>
            </li>
            <li class="facts-list">
              <p class="facts-para">License:</p>
              <a href="https://opensource.org/licenses/BSD-3-Clause">
                <img src="https://img.shields.io/badge/license-BSD--clause--3-brightgreen?style=for-the-badge">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="link-column">
        <div class="footer-column">
          <ul class="link-list">
            <li class="facts-list">
              <p class="facts-para">Supported Platforms:</p>
              <a href="https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_win_bin.html">
                <img src="https://img.shields.io/badge/Windows-Visual%20C%2B%2B%202019%2B-blue?style=for-the-badge&logo=Windows">
              </a>
            </li>
            <li class="facts-list">
              <a href="https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_linux_bin.html">
                <img src="https://img.shields.io/badge/Linux-GNU%2Fg%2B%2B%20(7.0%2B)%2C%20LLVM%2FClang%20(5%2B)-FCC624?style=for-the-badge&logo=Linux">
              </a>
            </li>
            <li class="facts-list">
              <a href="https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_mac_bin.html">
                <img src="https://img.shields.io/badge/macOS-AppleClang%20(10%2B)%2C%20GNU%2Fg%2B%2B%20(7.0%2B)%2C%20LLVM%2FClang%20(5%2B)-999999?style=for-the-badge&logo=Apple">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
