<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<section class="facts">
    <h1 class="facts-title">Quick facts</h1>
  <div class="container is-max-widescreen">
    <div id="footer-columns" class="columns">
      <div class="link-column">
        <div class="footer-column">
          <ul class="link-list">
            <li class="facts-list">
              <p class="facts-para">Programming Language:</p>
              <button class="facts-btn" onclick="location.href='https://en.cppreference.com/w/cpp/17'" type="button"><i class="fa fa-terminal"></i> C++ 17</button>
            </li>
            <li class="facts-list">
              <p class="facts-para">License:</p>
              <button class="facts-btn" onclick="location.href='https://opensource.org/licenses/BSD-3-Clause'" type="button"><i class="fa fa-sticky-note-o"></i> BSD-CLAUSE-3</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="link-column">
        <div class="footer-column">
          <ul class="link-list">
            <li class="facts-list">
              <p class="facts-para">Supported Platforms:</p>
              <button class="facts-btn" onclick="location.href='https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_win_bin.html'" type="button"><i class="fa fa-windows"></i> Visual C++ 2019+</button>
            </li>
            <li class="facts-list">
              <button class="facts-btn" onclick="location.href='https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_linux_bin.html'" type="button"><i class="fa fa-linux"></i> GNU/G++ (7.0+)</button>
            </li>
            <li class="facts-list">
              <button class="facts-btn" onclick="location.href='https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/install_mac_bin.html'" type="button"><i class="fa fa-apple"></i> APPLECLANG (10+)</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>