<div class="partner-images">
    <a href="https://kohlbacherlab.org/">
        <img src="/images/logos/logo-uni-tuebingen.png" width="200" alt="Logo of UC Berkeley" />
    </a>
    <a href="http://www.mi.fu-berlin.de/en/inf/groups/abi/index.html">
        <img src="/images/logos/fu-berlin.png" width="200" alt="Logo of Quansight" />
    </a>
    <a href="http://www.imsb.ethz.ch/research/aebersold.html">
        <img src="/images/logos/zurich.jpeg" width="200" alt="Logo of Quansight" />
    </a>
    <a href="http://www.sanger.ac.uk/">
        <img src="/images/logos/logo-sanger.png" width="200" alt="Logo of Quansight" />
    </a>
</div>
<div class="partner-images">
    <a href="https://www.ebi.ac.uk/">
        <img src="/images/logos/emblebi.png" width="200" alt="Logo of Quansight" />
    </a>
    <a href="http://www.moleculargenetics.utoronto.ca/faculty/2017/7/19/hannes-rost">
        <img src="/images/logos/toronto.jpeg" width="200" alt="Logo of Quansight" />
    </a>
    <a href="https://www.biosustain.dtu.dk/">
        <img src="/images/logos/DTU-logo.png" width="200" alt="Logo of Quansight" />
    </a>
    <a href="https://www.zib.de/">
        <img src="/images/logos/ziblogo.png" width="200" alt="Logo of Quansight" />
    </a>
</div>

<style>
    .partner-images {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        justify-content: center;
        margin: 30px;
    }

    .partner-images > a {
        height: 75px;
        width: auto;
        padding: 0 30px;
        margin: 30px 0;
    }

    @media only screen and (max-width: 850px) {
        .partner-images {
            flex-direction: column;
        }

        .partner-images > img {
            height: auto;
            margin: 30px 0;
            padding: 0;
        }
    }
</style>